*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pie{
    background-color: #090909;
    font-family: 'Orbitron';
    font-size: 16px;
    font-weight: 200;
    text-align: left;
}

.nombre{
    font-family:'Play', sans-serif;
    color: #01c4e7;
    font-size: 24px;
}
.img{
    width: 24px;
    height: 24px;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #090909;
    padding: 8px 12px 8px 16px;
    align-items: center;
}

.section{
    font-family: 'Play', sans-serif ;
    display: flex;
    justify-content:space-around;
    align-items: flex-start; 
    margin-top: 8px;    
}
.section div{
    display: flex;
    flex-direction: column;
}

footer div a{
    text-decoration: none;
    color: white;
}

div.redes a{
    margin: 0 4px;
}

.derechos{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    margin-top: 16px;
    padding-bottom: 4px;
    color: gray;
    font-size: 10px;
}