.gradient-custom {
    /* fallback for old browsers */
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
}
    p{
        color: black;
    }
    .mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.03);
    }