<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidad</title>
    <link rel="stylesheet" href="../../static/style.css">
</head>
        <h1>Bienvenidos al foro de Game Mate</h1>
<body>

    <div class="text"> </div>
    <ul>
      <li>
        <!--Reglas de la comunidad-->
        <a href="reglas.html">Reglas de la comunidad</a>
        <h1>Reglas de la Comunidad</h1>
        <p>Bienvenidos!</p>
        <p> Queremos que Game Mate sea un lugar seguro y divertido donde poder jugar y pasarlo bien con los amigos, y necesitamos de tu ayuda para que siga siendo así.</p>
        <p> Nuestras reglas de la comunidad se aplican a todos los usuarios de los juegos, servicios y entornos de Game Mate. Estos principios constituyen una guía sobre cómo se debería interactuar con otras personas dentro del ecosistema de Game Mate. Se han incluido algunos ejemplos a continuación, pero el hecho de que algo no se haya especificado no implica que sea aceptable.</p>
        <p> Cumplir las reglas no es tan difícil. Si infringís alguna de estas normas, podríamos tomar medidas contra tu cuenta, incluida una inhabilitación permanente en último extremo.</p>

        <h2>Intolerancia o contenido discriminatorio </h2>
        <p> Game Mate no tolera ningún tipo de conducta de odio o discriminatoria. </p>
        <p>El ecosistema de Game Mate acoge la diversidad de raza, etnia, color, religión, identidad de género, orientación sexual, capacidad, origen nacional u otros grupos. Se aconseja no utilizar lenguaje de odio ni de denigración a otros usuarios o grupos.</p>

        <h2> Acoso </h2>
        <p> Respetá a los demás cuando estés chateando, jugando o creando. Interactuar con otros jugadores de manera insultante, amenazante, intimidante, indecente, humillante, despectiva o abusiva o invadir la privacidad de otros va contra las reglas. </p>

        <h2> Actividades ilegales o peligrosas</h2>
        <p> No participes ni promovas actividades peligrosas o ilegales en la comunidad, como las apuestas, el consumo ilegal de drogas, el fraude electrónico, el tráfico de personas, la prostitución, la revelación de identidad de terceros, las llamadas falsas, ni compartas contenido que glorifique o incite a la violencia. Nos tomamos muy en serio las amenazas de hacer daño a otros o a vosotros mismos. Si ves algo que pueda poner en peligro la integridad de otros jugadores, podes informar de ello a través del juego en Game Mate</p>
        </li>
       
       <li>
        <!--Guias-->
        <a href="guiasComunidad.html">Guias</a> 
        <p> ¿ Primera vez en el foro?</p>
        <p> ¿Tienes alguna sugerencia?</p>
        <p> ¿Encontraste algun error ?</p>
       </li>
      <li>
        <!--Ayuda-->
        <a href="ayudaComunidad.html">Ayuda</a>
        <p> Pregunta aqui</p>
        <p>Preguntas frecuentes</p>
       <!--Preguntas frecuentes-->
        <!--Configuraciones de PC a medida-->
          
      </li>
      </ul>
</body>

</html>
