.header {

    background-color: #090909;
    color: white;
    padding: 3rem 0;
 
}

.header a {
    color: white;
    text-decoration: none;
    
}


.logo-nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-wrap: wrap;

}

.logo {
    letter-spacing: 2px;
    width: 150px;
    height: 72px;
    left: 0px;
    top: 0px;
    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid #DB03FE;
    text-shadow: 0px 4px 4px #F58EEB;
}

.menu-icon {
  display: none;
}

 .navigation ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.navigation ul li {
    display: inline-block;

}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem ;
    transition: all 0.4s linear;
    border-radius: 5px;

}

.navigation ul li a:hover {
    background-color: fuchsia;
}

@media only screen and (max-width:767px) {
    
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

.navigation {
    width:100%;
    margin-top: 1rem;

}

.navigation ul {
    display: none;
}

.navigation ul.show {
    display: block;
}
     .navigation ul li {
         display: block;
     
     }
     
     .navigation ul li a {
         display: block;
         padding: 0.5rem 0 ;
         transition: all 0.4s linear;
         border-radius: 5px;
     
     }
     
     .navigation ul li a:hover {
         background-color: fuchsia;
     }
}

button {
    position: relative;
    align-items: top;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.1s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   button:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.5s;
   }
   
   button span {
    position: absolute;
   }