:root {
    --fuenteParrafos: 'Orbitron', sans-serif;;

    --primario: #19122F;
    --blanco: #FFFFFF;  
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    color: var(--blanco);
    line-height: 2;
    background-color: var(--primario);
}
.main__section--invitacion,
.main__boton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem;
}
@media (min-width: 1024px) {
    .main__section--invitacion {
        display: flex; 
        flex-direction: row;
        justify-content: space-evenly;
        margin: 7rem 2rem;
    }
}
.main__grafico--img,
.main__grafico--img2 {
    height: 15rem;
    width: 20rem; 
}
@media (min-width: 1024px) {
    .main__grafico--img {
        margin-bottom: 50rem;
    }
}
@media (min-width: 1024px) {
    .main__grafico--img2 {
        margin-top: 35rem;
    }
}
.main__texto {
    text-align: center;
}
.main__boton--neon {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.main__boton--neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
 }
.main__boton--neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .main__boton--neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .main__boton--neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.main__boton--neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.main__boton--neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

