body{ 
    margin: 0;
    padding: 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
    background: #19122F;
}

#page-content {
    padding-bottom: 10rem;
}

#footer {
    height: 10rem;
    background-color: #232323;
    
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100vw;
    
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding-bottom: 8px;
}

.footer-section .footer-title {
    color: white;
    font-size: 18px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    padding-bottom: 4px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #d8d8d8;
    cursor: pointer;
}